## Load data

In [1]:
import pandas as pd
df = pd.read_csv("/projects/diffusion_bootcamp/datasets/ibmaml/HI-Small_Trans.csv")

In [2]:
df

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:20,10,8000EBD30,10,8000EBD30,3697.340000,US Dollar,3697.340000,US Dollar,Reinvestment,0
1,2022/09/01 00:20,3208,8000F4580,1,8000F5340,0.010000,US Dollar,0.010000,US Dollar,Cheque,0
2,2022/09/01 00:00,3209,8000F4670,3209,8000F4670,14675.570000,US Dollar,14675.570000,US Dollar,Reinvestment,0
3,2022/09/01 00:02,12,8000F5030,12,8000F5030,2806.970000,US Dollar,2806.970000,US Dollar,Reinvestment,0
4,2022/09/01 00:06,10,8000F5200,10,8000F5200,36682.970000,US Dollar,36682.970000,US Dollar,Reinvestment,0
...,...,...,...,...,...,...,...,...,...,...,...
5078340,2022/09/10 23:57,54219,8148A6631,256398,8148A8711,0.154978,Bitcoin,0.154978,Bitcoin,Bitcoin,0
5078341,2022/09/10 23:35,15,8148A8671,256398,8148A8711,0.108128,Bitcoin,0.108128,Bitcoin,Bitcoin,0
5078342,2022/09/10 23:52,154365,8148A6771,256398,8148A8711,0.004988,Bitcoin,0.004988,Bitcoin,Bitcoin,0
5078343,2022/09/10 23:46,256398,8148A6311,256398,8148A8711,0.038417,Bitcoin,0.038417,Bitcoin,Bitcoin,0
5078344,2022/09/10 23:37,154518,8148A6091,256398,8148A8711,0.281983,Bitcoin,0.281983,Bitcoin,Bitcoin,0

## Preprocess account and bank ids

In [6]:
# Number of accounts in dataset
print(len(set(df['Account'])))
# print(df['Account'].nunique())

496995

In [7]:
# Length of table
len(df)

5078345

In [9]:
# Number of transactions that have same paying and receiving accounts 

filtered_df = df[
    (df['Account'] == df['Account.1'])
]

print(len(filtered_df))

5078345
591212

In [10]:
# Insert wether a transcation has same paying and receiving accounts
df.insert(1, "account_matching",  df['Account']==df['Account.1'])
df

,Timestamp,account_matching,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:20,True,10,8000EBD30,10,8000EBD30,3697.340000,US Dollar,3697.340000,US Dollar,Reinvestment,0
1,2022/09/01 00:20,False,3208,8000F4580,1,8000F5340,0.010000,US Dollar,0.010000,US Dollar,Cheque,0
2,2022/09/01 00:00,True,3209,8000F4670,3209,8000F4670,14675.570000,US Dollar,14675.570000,US Dollar,Reinvestment,0
3,2022/09/01 00:02,True,12,8000F5030,12,8000F5030,2806.970000,US Dollar,2806.970000,US Dollar,Reinvestment,0
4,2022/09/01 00:06,True,10,8000F5200,10,8000F5200,36682.970000,US Dollar,36682.970000,US Dollar,Reinvestment,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5078340,2022/09/10 23:57,False,54219,8148A6631,256398,8148A8711,0.154978,Bitcoin,0.154978,Bitcoin,Bitcoin,0
5078341,2022/09/10 23:35,False,15,8148A8671,256398,8148A8711,0.108128,Bitcoin,0.108128,Bitcoin,Bitcoin,0
5078342,2022/09/10 23:52,False,154365,8148A6771,256398,8148A8711,0.004988,Bitcoin,0.004988,Bitcoin,Bitcoin,0
5078343,2022/09/10 23:46,False,256398,8148A6311,256398,8148A8711,0.038417,Bitcoin,0.038417,Bitcoin,Bitcoin,0
5078344,2022/09/10 23:37,False,154518,8148A6091,256398,8148A8711,0.281983,Bitcoin,0.281983,Bitcoin,Bitcoin,0

In [11]:
# Insert wether a transcation has same paying and receiving banks
df.insert(1, "bank_matching",  df['From Bank']==df['To Bank'])

In [12]:
df

,Timestamp,bank_matching,account_matching,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:20,True,True,10,8000EBD30,10,8000EBD30,3697.340000,US Dollar,3697.340000,US Dollar,Reinvestment,0
1,2022/09/01 00:20,False,False,3208,8000F4580,1,8000F5340,0.010000,US Dollar,0.010000,US Dollar,Cheque,0
2,2022/09/01 00:00,True,True,3209,8000F4670,3209,8000F4670,14675.570000,US Dollar,14675.570000,US Dollar,Reinvestment,0
3,2022/09/01 00:02,True,True,12,8000F5030,12,8000F5030,2806.970000,US Dollar,2806.970000,US Dollar,Reinvestment,0
4,2022/09/01 00:06,True,True,10,8000F5200,10,8000F5200,36682.970000,US Dollar,36682.970000,US Dollar,Reinvestment,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5078340,2022/09/10 23:57,False,False,54219,8148A6631,256398,8148A8711,0.154978,Bitcoin,0.154978,Bitcoin,Bitcoin,0
5078341,2022/09/10 23:35,False,False,15,8148A8671,256398,8148A8711,0.108128,Bitcoin,0.108128,Bitcoin,Bitcoin,0
5078342,2022/09/10 23:52,False,False,154365,8148A6771,256398,8148A8711,0.004988,Bitcoin,0.004988,Bitcoin,Bitcoin,0
5078343,2022/09/10 23:46,True,False,256398,8148A6311,256398,8148A8711,0.038417,Bitcoin,0.038417,Bitcoin,Bitcoin,0
5078344,2022/09/10 23:37,False,False,154518,8148A6091,256398,8148A8711,0.281983,Bitcoin,0.281983,Bitcoin,Bitcoin,0

In [17]:
# Drop extra columns
df = df.drop("From Bank", axis=1)
df = df.drop("To Bank", axis=1)
df = df.drop("Account", axis=1)
df = df.drop("Account.1", axis=1)

KeyError: "['From Bank'] not found in axis"

In [18]:
df

,Timestamp,bank_matching,account_matching,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:20,True,True,3697.340000,US Dollar,3697.340000,US Dollar,Reinvestment,0
1,2022/09/01 00:20,False,False,0.010000,US Dollar,0.010000,US Dollar,Cheque,0
2,2022/09/01 00:00,True,True,14675.570000,US Dollar,14675.570000,US Dollar,Reinvestment,0
3,2022/09/01 00:02,True,True,2806.970000,US Dollar,2806.970000,US Dollar,Reinvestment,0
4,2022/09/01 00:06,True,True,36682.970000,US Dollar,36682.970000,US Dollar,Reinvestment,0
...,...,...,...,...,...,...,...,...,...
5078340,2022/09/10 23:57,False,False,0.154978,Bitcoin,0.154978,Bitcoin,Bitcoin,0
5078341,2022/09/10 23:35,False,False,0.108128,Bitcoin,0.108128,Bitcoin,Bitcoin,0
5078342,2022/09/10 23:52,False,False,0.004988,Bitcoin,0.004988,Bitcoin,Bitcoin,0
5078343,2022/09/10 23:46,True,False,0.038417,Bitcoin,0.038417,Bitcoin,Bitcoin,0
5078344,2022/09/10 23:37,False,False,0.281983,Bitcoin,0.281983,Bitcoin,Bitcoin,0

### Preprocess timestamp

In [19]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'], format='%Y/%m/%d %H:%M')

In [20]:
df

,Timestamp,bank_matching,account_matching,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022-09-01 00:20:00,True,True,3697.340000,US Dollar,3697.340000,US Dollar,Reinvestment,0
1,2022-09-01 00:20:00,False,False,0.010000,US Dollar,0.010000,US Dollar,Cheque,0
2,2022-09-01 00:00:00,True,True,14675.570000,US Dollar,14675.570000,US Dollar,Reinvestment,0
3,2022-09-01 00:02:00,True,True,2806.970000,US Dollar,2806.970000,US Dollar,Reinvestment,0
4,2022-09-01 00:06:00,True,True,36682.970000,US Dollar,36682.970000,US Dollar,Reinvestment,0
...,...,...,...,...,...,...,...,...,...
5078340,2022-09-10 23:57:00,False,False,0.154978,Bitcoin,0.154978,Bitcoin,Bitcoin,0
5078341,2022-09-10 23:35:00,False,False,0.108128,Bitcoin,0.108128,Bitcoin,Bitcoin,0
5078342,2022-09-10 23:52:00,False,False,0.004988,Bitcoin,0.004988,Bitcoin,Bitcoin,0
5078343,2022-09-10 23:46:00,True,False,0.038417,Bitcoin,0.038417,Bitcoin,Bitcoin,0
5078344,2022-09-10 23:37:00,False,False,0.281983,Bitcoin,0.281983,Bitcoin,Bitcoin,0

In [139]:
# Get the earliest timestamp and calculate rest of timestamps distance with it
# earliest_time = min(df['Timestamp'])
# time_differences = [(dt - earliest_time).total_seconds() / 60 for dt in df['Timestamp']]

In [23]:
# Insert time differences
# df.insert(1, "time_differences",  time_differences)

# Feature Engineering 2: Timestamp normalization
df['Datetime'] = pd.to_datetime(df['Timestamp'], format='%Y/%m/%d %H:%M')
timedifference_series = (df['Datetime'].astype(int) // 10**9)
df.insert(1, "time_differences",  timedifference_series)

In [24]:
df

,Timestamp,time_differences,bank_matching,account_matching,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering,Datetime
0,2022-09-01 00:20:00,1661991600,True,True,3697.340000,US Dollar,3697.340000,US Dollar,Reinvestment,0,2022-09-01 00:20:00
1,2022-09-01 00:20:00,1661991600,False,False,0.010000,US Dollar,0.010000,US Dollar,Cheque,0,2022-09-01 00:20:00
2,2022-09-01 00:00:00,1661990400,True,True,14675.570000,US Dollar,14675.570000,US Dollar,Reinvestment,0,2022-09-01 00:00:00
3,2022-09-01 00:02:00,1661990520,True,True,2806.970000,US Dollar,2806.970000,US Dollar,Reinvestment,0,2022-09-01 00:02:00
4,2022-09-01 00:06:00,1661990760,True,True,36682.970000,US Dollar,36682.970000,US Dollar,Reinvestment,0,2022-09-01 00:06:00
...,...,...,...,...,...,...,...,...,...,...,...
5078340,2022-09-10 23:57:00,1662854220,False,False,0.154978,Bitcoin,0.154978,Bitcoin,Bitcoin,0,2022-09-10 23:57:00
5078341,2022-09-10 23:35:00,1662852900,False,False,0.108128,Bitcoin,0.108128,Bitcoin,Bitcoin,0,2022-09-10 23:35:00
5078342,2022-09-10 23:52:00,1662853920,False,False,0.004988,Bitcoin,0.004988,Bitcoin,Bitcoin,0,2022-09-10 23:52:00
5078343,2022-09-10 23:46:00,1662853560,True,False,0.038417,Bitcoin,0.038417,Bitcoin,Bitcoin,0,2022-09-10 23:46:00
5078344,2022-09-10 23:37:00,1662853020,False,False,0.281983,Bitcoin,0.281983,Bitcoin,Bitcoin,0,2022-09-10 23:37:00

In [25]:
# Insert day of transaction as useful information
df.insert(1, "day",  df["Timestamp"].dt.day)

In [26]:
df

,Timestamp,day,time_differences,bank_matching,account_matching,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering,Datetime
0,2022-09-01 00:20:00,1,1661991600,True,True,3697.340000,US Dollar,3697.340000,US Dollar,Reinvestment,0,2022-09-01 00:20:00
1,2022-09-01 00:20:00,1,1661991600,False,False,0.010000,US Dollar,0.010000,US Dollar,Cheque,0,2022-09-01 00:20:00
2,2022-09-01 00:00:00,1,1661990400,True,True,14675.570000,US Dollar,14675.570000,US Dollar,Reinvestment,0,2022-09-01 00:00:00
3,2022-09-01 00:02:00,1,1661990520,True,True,2806.970000,US Dollar,2806.970000,US Dollar,Reinvestment,0,2022-09-01 00:02:00
4,2022-09-01 00:06:00,1,1661990760,True,True,36682.970000,US Dollar,36682.970000,US Dollar,Reinvestment,0,2022-09-01 00:06:00
...,...,...,...,...,...,...,...,...,...,...,...,...
5078340,2022-09-10 23:57:00,10,1662854220,False,False,0.154978,Bitcoin,0.154978,Bitcoin,Bitcoin,0,2022-09-10 23:57:00
5078341,2022-09-10 23:35:00,10,1662852900,False,False,0.108128,Bitcoin,0.108128,Bitcoin,Bitcoin,0,2022-09-10 23:35:00
5078342,2022-09-10 23:52:00,10,1662853920,False,False,0.004988,Bitcoin,0.004988,Bitcoin,Bitcoin,0,2022-09-10 23:52:00
5078343,2022-09-10 23:46:00,10,1662853560,True,False,0.038417,Bitcoin,0.038417,Bitcoin,Bitcoin,0,2022-09-10 23:46:00
5078344,2022-09-10 23:37:00,10,1662853020,False,False,0.281983,Bitcoin,0.281983,Bitcoin,Bitcoin,0,2022-09-10 23:37:00

In [27]:
# Insert hour of transaction as useful information
df.insert(1, "hour",  df["Timestamp"].dt.hour)

In [28]:
df

,Timestamp,hour,day,time_differences,bank_matching,account_matching,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering,Datetime
0,2022-09-01 00:20:00,0,1,1661991600,True,True,3697.340000,US Dollar,3697.340000,US Dollar,Reinvestment,0,2022-09-01 00:20:00
1,2022-09-01 00:20:00,0,1,1661991600,False,False,0.010000,US Dollar,0.010000,US Dollar,Cheque,0,2022-09-01 00:20:00
2,2022-09-01 00:00:00,0,1,1661990400,True,True,14675.570000,US Dollar,14675.570000,US Dollar,Reinvestment,0,2022-09-01 00:00:00
3,2022-09-01 00:02:00,0,1,1661990520,True,True,2806.970000,US Dollar,2806.970000,US Dollar,Reinvestment,0,2022-09-01 00:02:00
4,2022-09-01 00:06:00,0,1,1661990760,True,True,36682.970000,US Dollar,36682.970000,US Dollar,Reinvestment,0,2022-09-01 00:06:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5078340,2022-09-10 23:57:00,23,10,1662854220,False,False,0.154978,Bitcoin,0.154978,Bitcoin,Bitcoin,0,2022-09-10 23:57:00
5078341,2022-09-10 23:35:00,23,10,1662852900,False,False,0.108128,Bitcoin,0.108128,Bitcoin,Bitcoin,0,2022-09-10 23:35:00
5078342,2022-09-10 23:52:00,23,10,1662853920,False,False,0.004988,Bitcoin,0.004988,Bitcoin,Bitcoin,0,2022-09-10 23:52:00
5078343,2022-09-10 23:46:00,23,10,1662853560,True,False,0.038417,Bitcoin,0.038417,Bitcoin,Bitcoin,0,2022-09-10 23:46:00
5078344,2022-09-10 23:37:00,23,10,1662853020,False,False,0.281983,Bitcoin,0.281983,Bitcoin,Bitcoin,0,2022-09-10 23:37:00

In [29]:
# Insert minute of transaction as useful information
df.insert(1, "minute",  df["Timestamp"].dt.minute)

In [30]:
df

,Timestamp,minute,hour,day,time_differences,bank_matching,account_matching,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering,Datetime
0,2022-09-01 00:20:00,20,0,1,1661991600,True,True,3697.340000,US Dollar,3697.340000,US Dollar,Reinvestment,0,2022-09-01 00:20:00
1,2022-09-01 00:20:00,20,0,1,1661991600,False,False,0.010000,US Dollar,0.010000,US Dollar,Cheque,0,2022-09-01 00:20:00
2,2022-09-01 00:00:00,0,0,1,1661990400,True,True,14675.570000,US Dollar,14675.570000,US Dollar,Reinvestment,0,2022-09-01 00:00:00
3,2022-09-01 00:02:00,2,0,1,1661990520,True,True,2806.970000,US Dollar,2806.970000,US Dollar,Reinvestment,0,2022-09-01 00:02:00
4,2022-09-01 00:06:00,6,0,1,1661990760,True,True,36682.970000,US Dollar,36682.970000,US Dollar,Reinvestment,0,2022-09-01 00:06:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5078340,2022-09-10 23:57:00,57,23,10,1662854220,False,False,0.154978,Bitcoin,0.154978,Bitcoin,Bitcoin,0,2022-09-10 23:57:00
5078341,2022-09-10 23:35:00,35,23,10,1662852900,False,False,0.108128,Bitcoin,0.108128,Bitcoin,Bitcoin,0,2022-09-10 23:35:00
5078342,2022-09-10 23:52:00,52,23,10,1662853920,False,False,0.004988,Bitcoin,0.004988,Bitcoin,Bitcoin,0,2022-09-10 23:52:00
5078343,2022-09-10 23:46:00,46,23,10,1662853560,True,False,0.038417,Bitcoin,0.038417,Bitcoin,Bitcoin,0,2022-09-10 23:46:00
5078344,2022-09-10 23:37:00,37,23,10,1662853020,False,False,0.281983,Bitcoin,0.281983,Bitcoin,Bitcoin,0,2022-09-10 23:37:00

In [31]:
# Drop extra time stamp
df = df.drop("Timestamp", axis=1)
df = df.drop("Datetime", axis=1)

In [32]:
df

,minute,hour,day,time_differences,bank_matching,account_matching,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,20,0,1,1661991600,True,True,3697.340000,US Dollar,3697.340000,US Dollar,Reinvestment,0
1,20,0,1,1661991600,False,False,0.010000,US Dollar,0.010000,US Dollar,Cheque,0
2,0,0,1,1661990400,True,True,14675.570000,US Dollar,14675.570000,US Dollar,Reinvestment,0
3,2,0,1,1661990520,True,True,2806.970000,US Dollar,2806.970000,US Dollar,Reinvestment,0
4,6,0,1,1661990760,True,True,36682.970000,US Dollar,36682.970000,US Dollar,Reinvestment,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5078340,57,23,10,1662854220,False,False,0.154978,Bitcoin,0.154978,Bitcoin,Bitcoin,0
5078341,35,23,10,1662852900,False,False,0.108128,Bitcoin,0.108128,Bitcoin,Bitcoin,0
5078342,52,23,10,1662853920,False,False,0.004988,Bitcoin,0.004988,Bitcoin,Bitcoin,0
5078343,46,23,10,1662853560,True,False,0.038417,Bitcoin,0.038417,Bitcoin,Bitcoin,0
5078344,37,23,10,1662853020,False,False,0.281983,Bitcoin,0.281983,Bitcoin,Bitcoin,0

In [33]:
# Check number of categories in each of categorical columns
print("num categories in minute ",len(set(df["minute"])))
print("num categories in hour ",len(set(df["hour"])))
print("num categories in day ",len(set(df["day"])))
print("num categories in Receiving Currency ",len(set(df["Receiving Currency"])))
print("num categories in Payment Currency ",len(set(df["Payment Currency"])))
print("num categories in Payment Format ",len(set(df["Payment Format"])))

num categories in minute  60
num categories in hour  24
num categories in day  18
num categories in Receiving Currency  15
num categories in Payment Currency  15
num categories in Payment Format  7

### Separate test and train data

In [35]:
# choose 10% of rows as test
test_df = df.sample(frac=0.1, random_state=42)
train_df = df.drop(test_df.index)

In [36]:
train_df

,minute,hour,day,time_differences,bank_matching,account_matching,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,20,0,1,1661991600,True,True,3697.340000,US Dollar,3697.340000,US Dollar,Reinvestment,0
1,20,0,1,1661991600,False,False,0.010000,US Dollar,0.010000,US Dollar,Cheque,0
2,0,0,1,1661990400,True,True,14675.570000,US Dollar,14675.570000,US Dollar,Reinvestment,0
3,2,0,1,1661990520,True,True,2806.970000,US Dollar,2806.970000,US Dollar,Reinvestment,0
4,6,0,1,1661990760,True,True,36682.970000,US Dollar,36682.970000,US Dollar,Reinvestment,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5078340,57,23,10,1662854220,False,False,0.154978,Bitcoin,0.154978,Bitcoin,Bitcoin,0
5078341,35,23,10,1662852900,False,False,0.108128,Bitcoin,0.108128,Bitcoin,Bitcoin,0
5078342,52,23,10,1662853920,False,False,0.004988,Bitcoin,0.004988,Bitcoin,Bitcoin,0
5078343,46,23,10,1662853560,True,False,0.038417,Bitcoin,0.038417,Bitcoin,Bitcoin,0
5078344,37,23,10,1662853020,False,False,0.281983,Bitcoin,0.281983,Bitcoin,Bitcoin,0

In [37]:
# Check number of categories in each of categorical columns of train data
print("num categories in minute ",len(set(train_df["minute"])))
print("num categories in hour ",len(set(train_df["hour"])))
print("num categories in day ",len(set(train_df["day"])))
print("num categories in Receiving Currency ",len(set(train_df["Receiving Currency"])))
print("num categories in Payment Currency ",len(set(train_df["Payment Currency"])))
print("num categories in Payment Format ",len(set(train_df["Payment Format"])))

num categories in minute  60
num categories in hour  24
num categories in day  18
num categories in Receiving Currency  15
num categories in Payment Currency  15
num categories in Payment Format  7

In [38]:
test_df

,minute,hour,day,time_differences,bank_matching,account_matching,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
298872,29,0,1,1661992140,False,False,4981.60,Swiss Franc,4981.60,Swiss Franc,Cheque,0
746726,28,13,1,1662038880,False,False,297.72,US Dollar,297.72,US Dollar,Cheque,0
405190,46,2,1,1662000360,True,True,32.90,Yuan,32.90,Yuan,Reinvestment,0
1388703,2,8,2,1662105720,False,False,194634.45,Rupee,194634.45,Rupee,Cheque,0
4713645,1,18,9,1662746460,False,False,698940.91,US Dollar,698940.91,US Dollar,ACH,0
...,...,...,...,...,...,...,...,...,...,...,...,...
330491,41,0,1,1661992860,False,False,294.82,US Dollar,294.82,US Dollar,Cheque,0
2735873,21,22,5,1662416460,False,False,17011.66,Ruble,17011.66,Ruble,Cheque,0
3059852,0,14,6,1662472800,False,False,3178.85,Euro,3178.85,Euro,Cheque,0
3166404,59,19,6,1662494340,False,False,1341.91,US Dollar,1341.91,US Dollar,Cheque,0
1907660,45,2,3,1662173100,False,False,9412.88,Australian Dollar,9412.88,Australian Dollar,Cheque,0

In [39]:
# Check number of categories in each of categorical columns of test data
print("num categories in minute ",len(set(train_df["minute"])))
print("num categories in hour ",len(set(train_df["hour"])))
print("num categories in day ",len(set(train_df["day"])))
print("num categories in Receiving Currency ",len(set(train_df["Receiving Currency"])))
print("num categories in Payment Currency ",len(set(train_df["Payment Currency"])))
print("num categories in Payment Format ",len(set(train_df["Payment Format"])))

num categories in minute  60
num categories in hour  24
num categories in day  18
num categories in Receiving Currency  15
num categories in Payment Currency  15
num categories in Payment Format  7

### Save preprocess data

In [47]:
# TEST_OUTPUT_PATH = "/h/ws_ddas/debraj/raw_data/aml/test.csv"
# TRAIN_OUTPUT_PATH = "/h/ws_ddas/debraj/raw_data/aml/train.csv"
TEST_OUTPUT_PATH = "/projects/diffusion_bootcamp/team_spaces/deloitte/raw_data/aml/test.csv"
TRAIN_OUTPUT_PATH = "/projects/diffusion_bootcamp/team_spaces/deloitte/raw_data/aml/train.csv"

test_df.to_csv(TEST_OUTPUT_PATH, index=False)
train_df.to_csv(TRAIN_OUTPUT_PATH, index=False)
df = pd.read_csv(TEST_OUTPUT_PATH)
df

,minute,hour,day,time_differences,bank_matching,account_matching,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,29,0,1,1661992140,False,False,4981.60,Swiss Franc,4981.60,Swiss Franc,Cheque,0
1,28,13,1,1662038880,False,False,297.72,US Dollar,297.72,US Dollar,Cheque,0
2,46,2,1,1662000360,True,True,32.90,Yuan,32.90,Yuan,Reinvestment,0
3,2,8,2,1662105720,False,False,194634.45,Rupee,194634.45,Rupee,Cheque,0
4,1,18,9,1662746460,False,False,698940.91,US Dollar,698940.91,US Dollar,ACH,0
...,...,...,...,...,...,...,...,...,...,...,...,...
507829,41,0,1,1661992860,False,False,294.82,US Dollar,294.82,US Dollar,Cheque,0
507830,21,22,5,1662416460,False,False,17011.66,Ruble,17011.66,Ruble,Cheque,0
507831,0,14,6,1662472800,False,False,3178.85,Euro,3178.85,Euro,Cheque,0
507832,59,19,6,1662494340,False,False,1341.91,US Dollar,1341.91,US Dollar,Cheque,0
507833,45,2,3,1662173100,False,False,9412.88,Australian Dollar,9412.88,Australian Dollar,Cheque,0